<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd
        http://www.springframework.org/schema/lang
        http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
http://www.springframework.org/schema/task
http://www.springframework.org/schema/task/spring-task-3.0.xsd ">

    
    <!--    database configuration-->
    <aop:aspectj-autoproxy />
    <task:annotation-driven executor="springExecutorService" scheduler="taskScheduler"/>
  
    <!--
    The 'executor' element:
    When a task is submitted, the executor will first
    try to use a free thread if the number of active threads is currently less than
    the core size. If the core size has been reached, then the task will be added
    to the queue as long as its capacity has not yet been reached. Only then,
    if the queue's capacity has been reached, will the executor create a new
    thread beyond the core size. If the max size has also been reached, then
    the executor will reject the task
    See: 25.4.2 The 'executor' element -->
    <!-- Defines a ThreadPoolTaskExecutor instance with configurable pool size, queue-capacity, keep-alive,
    and rejection-policy values. The id becomes the default thread name prefix -->
    <task:executor id="springExecutorService"
                   pool-size="5-25"
                   queue-capacity="100"/>
   
    <!-- Defines a ThreadPoolTaskScheduler instance with configurable pool size.
    The id becomes the default thread name prefix. -->             
    <task:scheduler id="taskScheduler" pool-size="1"/> 
  
    <context:property-placeholder location="classpath:/resources/conf.properties" />
<!--    <bean id="application-properties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders">
            <value>true</value>
        </property>
        <property name="locations">
            <list>
                <value>classpath:resources/conf.properties</value>
            </list>
        </property>
    </bean>-->
 
    <import resource="classpath:/resources/datasourceConfig.xml"/>
    <context:component-scan base-package="com.dubic.module.el"/>
    <context:component-scan base-package="com.dubic.scribbles"/>
    <import resource="classpath:/resources/security.xml"/>
</beans>